header{
    background-color: rgb(28, 205, 52);
    color: white;
    text-align: center;
    padding: 10px;
    
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif
}

.container a{
    color: white;
    text-decoration: none;
    font-size: 15;
    padding: 20px;
    
}

.products{
width: 70%;
height: 100%;
justify-content:center;
gap: 10px;
align-items: center;
border-radius: 20px;
overflow: scroll;

}

.products img{
    width: 10%;
    height: 100%;
    object-fit:contain;
    transition: all ease-in-out 0,5s;
    

}

.products img:hover{
    width: 45%;
    border-radius: 20px;
}

.container a:not(#submit_btn a):hover{
    background-color: rgb(187, 191, 216);
    padding: 9px;
    border-radius: 10px;
}
#submit_btn{
    background-color: rgb(60, 180, 20);
    padding: 6px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 12px;
    transition: all ease-in-out 0,5s;
    border: solid white;
}

#submit_btn:hover{
    background-color: rgb(9, 248, 49);

}



nav{
    background-color: rgb(138, 160, 39);
    float: left;
    width: 20%;
    height: 750px;
}

nav ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
nav ul:hover{
    background-color: gray;
    padding: 5px;
}
article{
    background-color: rgb(187, 191, 216);
    float: left;
    width: 75%;
    height: 750px;
    padding-left: 5%;
}
/*THIS CSS IS FOR FOOTER*/
footer{
    text-align: center;
    background-color: rgb(28, 205, 52);
    color: white;

}
footer div{
    text-decoration: none;
    padding: 20px;
    color: black;
    font-weight: bold;
}

/* THIS CSS IS FOR TABLE */

table{
    width: 50%;
    margin-bottom: 20px;
    height: 50px;
   
}

th{
    background-color: rgba(16, 192, 236, 0.795);
}

.table_data{
    background-color: rgb(187, 191, 216);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

/* THIS IS THE STYLE FOR HTML LIST */
.firstColumn{
    float: left;
}

.secondColumn{
    float: right;
}

.column{
    width: 89%;
}
